__tests__/**/*.js
__tests__/**/*.js.map
__tests__/**/*.d.ts
exampleClient/**/*.js
exampleClient/**/*.js.map
exampleClient/**/*.d.ts

NOTES.md
TODO.md
.env
.env.*

# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Coverage
coverage

# Transpiled files
build/
dist/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_StoreNOTES.md
